@model List<Microsoft.AspNetCore.Identity.IdentityRole>

<h2>All Roles</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Role Name</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Id</td>
                <td>@role.Name</td>

                <td>
                    <form asp-action="DeleteRole" method="post" style="display:inline;">
                        <input type="hidden" name="id" value="@role.Id" />
                        <button type="submit" class="btn btn-danger"
                                onclick="return confirm('Are you sure?')">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>