:root {
  --whiteColor: white;
  --blackColor: black;
  --greyColor: rgba(0, 0, 0, 0.5);
  --logoColor: #276842;
  --logInHover: #f3a216;
  --signUpHover: rgb(72, 129, 96);
  --greenHover:#f1f5f1;
  --yellowHover:#f3a216;
  --navBottomColor: rgba(0, 0, 0, 0.194);
  --fontSize: 20px;
  --logoSize: 50px;
  --cartSize: 55px;
  --hamburgerSize: 25px;
}
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  margin: 0;
  height: 1000vh;
  padding-top: 80px; /* Keeps your page content from hiding under the nav */
}
a {
  text-decoration: none;
  color: black;
}
/* ================================================= Nav ================================================= */
nav {
  width: 100vw;
  position: fixed;
  top: 0;
  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: var(--whiteColor);
  border-bottom: 1px solid var(--navBottomColor);
}

/* ================================================= Left-Nav ================================================= */

.left-nav {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-left: 10px;
  text-decoration: none;
}

img[alt="logo"] {
  width: var(--logoSize);
  height: var(--logoSize);  
  transition-duration: .2s;
}
img[alt="logo"]:hover{
  transform: scale(1.05) ;
}
.greeny {
  margin-left: 5px;
  font-size: var(--fontSize);
  font-weight: bold;
  text-transform: capitalize;
  color: var(--logoColor);
}

/* ================================================= Middle-Nav ================================================= */

.middle-nav {
  display: none;
  flex-basis: 50%;
  justify-content: center;
  align-items: center;
}
.middle-nav a {
  font-size: calc(var(--fontSize) - 3px);
  text-decoration: none;
  text-transform: capitalize;
  padding: 10px;
  color: var(--greyColor);
}
.middle-nav a:hover {
  border: 1px solid var(--navBottomColor);
  border-radius: 10px;
  border-color: transparent;
  color: var(--blackColor);
  background-color: var(--greenHover);
}

/* ================================================= right-Nav ================================================= */

.right-nav {
  display: flex;
  align-items: center;
  justify-self: flex-end;
}
.logIn,
.signUp {
  display: none;
  margin: 0 10px;
  padding: 10px 10px;
  border-radius: 10px;
  text-transform: capitalize;
  font-size: calc(var(--fontSize) - 3px);
  cursor: pointer;
}
.logIn {
  border: 1px solid var(--navBottomColor);
  color: var(--blackColor) !important;
}
.signUp {
  color: var(--whiteColor) !important;
  background-color: #276842;
}
.signUp:hover {
  background-color: var(--signUpHover) !important;
}
.logIn:hover {
  color: var(--blackColor) !important;
  background-color: var(--logInHover) !important;
}
img[alt="Cart"] {
  width: var(--cartSize);
  height: var(--cartSize);
  transition-duration: .3s;
  transform: rotateY(180deg);
  padding: 5px;
}
img[alt="Cart"]:hover {
  background-color: var(--yellowHover);
  border-radius: 15px;
  transform:  scale(1.05) ;
}
.hamburger {
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  width: var(--hamburgerSize);
  height: calc(var(--hamburgerSize) * 0.6);
  margin: 20px;
  cursor: pointer;

}
.hamburger div {
  flex-basis: 100%;
  height: 3px;
  border-radius: 50px;
  background-color: var(--blackColor);
  transition: all 0.3s ease-in-out;
}

.hamburger.is-active div:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
  background-color: red;
}

.hamburger.is-active div:nth-child(2) {
  opacity: 0;
}

.hamburger.is-active div:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
  background-color: red;
}

/* ================================================= Down-Nav ================================================= */

.menu {
  position: fixed;
  width: 100%;
  top: 80px;
  display: none;
  flex-flow: row wrap;
  border: 1px solid var(--navBottomColor);
  background-color: var(--whiteColor);
}
.menu a {
  flex-basis: 100%;
  margin: 10px 20px;
  padding: 8px 12px;
  text-transform: capitalize;
  color: var(--greyColor);
}
.menu a[href="log.html"] {
  display: block;
  flex-basis: 45%;
  text-align: center;
  margin: 10px;
}
.active-link {
  color: var(--logoColor) !important;
  font-weight: bold;
}
.menu a:hover {
  border: 1px solid var(--navBottomColor);
  border-radius: 10px;
  border-color: transparent;
  color: var(--blackColor);
  background-color: var(--greenHover);
}
.show {
  display: flex;
  justify-content: space-between;
}

/* ================================================= Media Queries ================================================= */

/*
  @media (max-width: 767px) {
  }
*/

@media (min-width: 640px) {
  a[href="log.html"] {
    display: none !important;
  }

  .logIn,
  .signUp {
    display: block;
  }
}

@media (min-width: 860px) {
  .middle-nav {
    display: flex;
  }

  .show {
    display: none;
  }

  div.hamburger {
    display: none;
  }
}

@media (min-width: 992px) {
  .middle-nav a {
    padding: 10px 20px;
  }

  .logIn,
  .signUp {
    display: block;
  }
}

@media (min-width: 1200px) {
}

@media (max-width: 1199px) {
}
