@model Greeny.BLL.ModelVM.AuthVM.ForgetPasswordVM

@{
    ViewData["Title"] = "Forget Password";
}



<div class="auth-layout">
    <div class="auth-banner">
        <div class="auth-overlay"></div>
        <a class="sign-logo2" asp-controller="Home" asp-action="Index">
            <img src="~/media/photos/Transparent white greeny leaf.png"
                 alt="logo" />
            <span class="greeny">greeny</span>
        </a>
        <div class="auth-quote-box">
            <h2 class="auth-quote">
                "Growing food is like printing your own money."
            </h2>
            <p class="auth-quote-sub">
                Join our community of farmers and gardening enthusiasts
            </p>
        </div>
    </div>

    <div class="auth-content">
        <div class="auth-form-container">
            <a class="sign-logo" asp-controller="Home" asp-action="Index">
                <img src="~/media/photos/Transparent Greeny leaf.png" alt="logo" />
                <span class="greeny">greeny</span>
            </a>
            <div class="auth-header">
                <h1>Forget Password</h1>
            </div>
            
            <form asp-action="SendEmailForPassword" method="post" class="auth-form">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="input-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" type="email"
                           placeholder="lorem@example.com" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Submit" class="auth-submit-btn" />
                </div>

            </form>

        </div>
    </div>
</div>


@section Styles {
    <link rel="stylesheet" href="~/css/master.css" />
    <link rel="stylesheet" href="~/css/log.css" />
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}